.practice-container {
    margin: 1em;
}

.margin-1em {
    margin: 1em;
}

.margin-lr-1em {
    margin: 0 1em;
}

.color-change {
    background-color: aqua;
    color: black;
}


input {
    padding: 0.5em;
    margin: 0.5em;
}
