<article class="margin-1em">
    <img class="listing-photo" [src]="housingLocation?.photo" alt="photo of {{housingLocation?.name}}">
    <section class="listing-description">
        <h2 class="listing-heading">{{housingLocation?.name}}</h2>
        <p class="listing-location">{{housingLocation?.city}},{{housingLocation?.state}}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">Features</h2>
        <ul>
            <li>Units: {{housingLocation?.availableUnits}}</li>
            <li>Wifi: {{housingLocation?.wifi}}</li>
            <li>laundry: {{housingLocation?.laundry}}</li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" formControlName="firstName">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName">
            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email">
            <label for="phone">Phone</label>
            <input id="phone" type="text" formControlName="phone">
            <button type="submit" class="primary">Apply Now</button>
        </form>
    </section>
</article>
